# General
.DS_Store
node_modules
.env
.env.*
!.env.example

# Rust / Cargo
debug
target
**/*.rs.bk
*.pdb
**/mutants.out*/

# Node / SvelteKit
/app/build
/app/.svelte-kit
/app/package
/app/.pnpm-store
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Build outputs
/app/builds

# Tauri
/app/src-tauri/gen/schemas
/.tauri
/app/src-tauri/gen/android/tauri.settings.gradle

# Logs
*.log
build_log.txt

# Android
*.apk
*.aab
*.iml
.gradle
local.properties
key.properties
/captures
.externalNativeBuild
.cxx
build

# Tauri Android Generated
/app/src-tauri/gen/android/app/src/main/java/com/h1dr0n/tauri_app/generated
/app/src-tauri/gen/android/app/src/main/jniLibs/**/*.so
/app/src-tauri/gen/android/app/src/main/assets/tauri.conf.json
/app/src-tauri/gen/android/app/tauri.build.gradle.kts
/app/src-tauri/gen/android/app/proguard-tauri.pro
/app/src-tauri/gen/android/app/tauri.properties

# JetBrains / Android Studio
.idea/
*.iws
*.ipr
out/

# VS Code
.vscode/

# OS
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
